.btn-blue-border {
    background: white !important;
    border-color: #4291E2 !important;
    color: #4291E2 !important;
}
.btn-blue-border:hover {
    background: white !important;
    border-color: #4291E2 !important;
    color: #4291E2 !important;
}