// background colors 

.bg-grey2{background: $grey2}
.bg-blue3{background: $blue3}
.bg-blue4{background: $blue4}
.bg-grey5{background: $grey5}
.bg-grey12{background: $grey12}
.bg-red{background:$red}
.bg-red2{background: $red2}
.bg-blue{background:$blue}
.bg-grey15{background:$grey15}
.bg-grey9{background-color: $grey9;}
.bg-grey22{background-color: $grey22}
.bg-yellow{background: $yellow}
.bg-blue8{background: $blue8}
.bg-grey24{background-color: $grey24}
.bg-lightgrey{background-color: $lightgrey;}
.bg-greylight{background-color: $greylight;}
.bg-white{background-color: $white;}
.bg-light-grey{background-color: $light-grey;}
.bg-grey27 { background-color:  $grey27 }
/*********************************/


// text colors 
.color-light-blue { color:#8cb6e2 }
.text-black{color:$black}
.text-black2{color : $black2}
.text-white2{color: $white}
.text-blue{color: $blue}
.text-grey11{color: $grey11}
.text-grey13{color: $grey13}
.text-grey3{color:$grey3}
.text-red{color: $red}
.text-blue7{color: $blue7}
.text-grey17{color: $grey17}
.text-light-grey{color: $grey18}
.text-grey-dark{color: $grey21;}
.text-grey-light{color: $grey10;}
.text-grey23 { color : $grey23}
.text-grey25{ color : $grey25}
.text-blue9{color:$skyblue}
.text-red2{ color: $red2 }
.text-yellow { color : $yellow}
.text-green{ color:$green}
.text-grey26{ color:$grey26}
.text-lightpurple{color:$lightpurple}
.text-darkpurple{color:$darkpurple}
.text-green2{color:$green2}
.color-darkgrey{color:$darkgrey}
.color-darkblack{color: $darkblack;}
.color-lightblack{color: $lightblack;}
.color-blacklight{color: $blacklight;}
.color-shadegray{color: $shadegray;}
.color-light-black{color: $light-black;}
.color-blackarrow{color: $blackarrow;}
/*********************************/


//border color 

.border-grey14{ border-bottom:1px solid $grey14}