<!-- Header -->
<!-- <div>
  <app-auth-header></app-auth-header>
</div> -->
<!-- Header -->

<section class="bg-white mt28">
  <div class="jumbotron jumbotron-fluid subscription-bg py-5">
    <div class="container text-center text-white mt-2">
      <h1 class="fs30 font-weight-bold">Our Mission</h1>
      <p class="fs18 op-9 lh-35 mb-0">To build and maintain useful and beneficial relationship with our clients, and the simply,we bring businesses together and build trust with our customers by delivering our promises and helping them own successful businesses around the world.</p>
    </div>
  </div>
  <div class="container">
    <div class="pt-2">
      <h2 class="text-blue fs20 font-weight-bold">
        Who We are</h2>
        <p class="fs16 op-9 lh-35 mb-0">BusinessIn Co. was established in 2018, as a platform that connects businesses all over the world without a need for using a search engine to find your target. We connect Compaines & Distributors, Investors & Entrepreneurs, Franchisees without any monipolization. And we provide equal opportunities for everyone.</p>
    </div>
    <div class="mt-3">     
      <div class="w-50 text-center mx-auto py-5 about-quotes">
        <q class="fs16 ff-muli-Italic color-blacklight blockquote-content">We work as a team, where each employee has specific responsibilities, and we all are accountable to one another to get the job done in the most efficient way.</q>
      </div>
    </div>
  </div>
</section>

<!-- footer Section -->
<!-- <section class="footer-section bg-lightgrey">
  <div class="container">
    <div class="p-2 d-flex">
      <div class="text-blue font-weight-bold fs14">
        <img src="./assets/images/logo.png" alt="Business-In-Logo" width="78" class="mt-6">
        <span class="ml-2">© {{year}}</span>
      </div>
      <div class="ml-auto">
        <ul class="paging-list list-inline mb-0 pl-0 font-weight-bold fs14">
          <li class="list-inline-item"><a routerLink="/aboutus">{{langData.loginFooterPage.aboutUS}}</a></li>
          <li class="list-inline-item"><a href="javascript:void(0)">{{langData.loginFooterPage.pricing}}</a></li>
          <li class="list-inline-item"><a href="javascript:void(0)">{{langData.loginFooterPage.faq}}</a></li>
          <li class="list-inline-item"><a href="javascript:void(0)">{{langData.loginFooterPage.userAgreement}}</a></li>
          <li class="list-inline-item"><a href="javascript:void(0)">{{langData.loginFooterPage.privacyPolicy}}</a></li>
          <li class="list-inline-item"><a href="javascript:void(0)">{{langData.loginFooterPage.contactUs}}</a></li>
          <li class="list-inline-item">
            <select class="bg-transparent border-0 color-darkgrey">
              <option selected>{{langData.loginFooterPage.language}}</option>
              <option value="1">Tamil</option>
              <option value="2">English</option>
              <option value="3">French</option>
            </select>
          </li>
        </ul>
    </div>
    </div>
  </div>
</section> -->
<!-- footer Section -->