<router-outlet></router-outlet>

  <!-- Blocker Screen -->

  <div class="mobile-blocker text-center">

    <div class="d-flex align-items-center w-100   h-100vh">
      <div class="flex-column d-flex w-100">
    <img src="./assets/images/logo.png" alt="Logo" class="w-230px mx-auto">

    <h1 class="text-black2 font-weight-bold fs24">Try our mobile Apps</h1>

    <ul class="list-inline my-3">
      <li class="list-inline-item"><img src="./assets/images/apple-app-store.png" alt="app-store" class="w-100px"></li>
      <li class="list-inline-item"><img src="./assets/images/google-playe.png" alt="app-store" class="w-100px"></li>
    </ul>
  </div>
    </div>
    

  </div>
  

<!-- Blocker Screen -->