<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
<div class="bg-grey5 pt-5">
  <!-- Body Content -->

  <section class="container my-5 max-w-lg-1070px minheight">
      <div class="row my-3">
          <div class="col-md-4">
             <div class="company-tab post-list-tabs">
                <ul class="nav nav-pills  nav-justified">
                   <li class="nav-item">
                   <a class="nav-link" [class.active]="tabActive === 1" (click)="tabChange(1)" href="javascript:void(0)"><span class="fas fa-circle text-green float-left pt-2 fs12" *ngIf = "sendReferralCount"></span> Sent ({{sendReferralCount}})</a>
                   </li>
                   <li class="nav-item">                  
                   <a class="nav-link"  [class.active]="tabActive === 2" (click)="tabChange(2)" href="javascript:void(0)"> <span class="fas fa-circle text-yellow float-left pt-2 fs12" *ngIf = "receiveReferralCount"></span> Received ({{receiveReferralCount}})</a>
                   </li>
                </ul>
             </div>
          </div>
      </div>
    <div class="row">
      <div class="col-md-9">
          <div class="viewreferrals card position-relative mb-4 ">
              <div class="card-body p-0 px-lg-3">
                  <ul class="list-group toppics-list">
                      <li class="list-group-item position-relative pb-0" *ngFor = "let recvrefer of receiveReferralEntity | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: receiveReferralCount }; let i = index">
                        <img *ngIf = "(recvrefer && recvrefer.referraltype == 'profile') && (recvrefer.profileimage !== null)" src="{{recvrefer.profileimage}}" alt="top-pics-images" class=" viewmainimg position-absolute">
                        <img *ngIf = "(recvrefer && recvrefer.referraltype == 'post') && (recvrefer.postlogo !== null)" src="{{recvrefer.postlogo}}" alt="top-pics-images" class=" viewmainimg position-absolute">
                        <img src="./assets/images/mobile-logo.png" *ngIf="(recvrefer.profileimage !== null || recvrefer.profileimage !== 'null')&&(recvrefer.postlogo !== null || recvrefer.postlogo !== 'null')"  alt="Business-In-Logo" class=" viewmainimg position-absolute">
                        <div class="top-pic-desc mb-1">
                          <div class="d-flex justify-content-between align-items-center">
                            <div>
                              <h1 class="fs16 mt-1 mb-0 font-weight-bold text-black2" *ngIf = "recvrefer && (recvrefer.profilefirstname !== null || recvrefer.profilefirstname !== 'null') && (recvrefer.profilelastname !== null || recvrefer.profilelastname !== 'null')">{{recvrefer.profilefirstname}} {{recvrefer.profilelastname}}</h1>
                              <h1 class="fs16 mt-1 mb-0 font-weight-bold text-black2" *ngIf = "recvrefer && (recvrefer.profilefirstname !== null || recvrefer.profilefirstname !== 'null') && recvrefer.profilelastname === null">{{recvrefer.profilefirstname}}</h1>
                              <h1 class="fs16 mt-1 mb-0 font-weight-bold text-black2" *ngIf = "recvrefer && recvrefer.profilefirstname === null && (recvrefer.profilelastname !== null || recvrefer.profilelastname !== 'null')">{{recvrefer.profilelastname}}</h1>
                              
                              <span class="fs12 text-lightpurple font-weight-bold" *ngIf = "recvrefer && recvrefer.referraltype == 'profile' && (recvrefer.profilecompanyname !== null || recvrefer.profilecompanyname !== 'null')">{{recvrefer.profiletype}} - {{recvrefer.profilecompanyname}}</span>
                              <span class="fs12 text-lightpurple font-weight-bold" *ngIf = "recvrefer && recvrefer.referraltype == 'profile' && (recvrefer.profilecompanyname === null || recvrefer.profilecompanyname === 'null')">{{recvrefer.profiletype}}</span>
                              <span class="fs12 text-lightpurple font-weight-bold" *ngIf = "recvrefer && recvrefer.referraltype == 'post' && (recvrefer.postcompanyname !== null || recvrefer.postcompanyname !== 'null')">{{recvrefer.posttype}} - {{recvrefer.postcompanyname}}</span>
                              <span class="fs12 text-lightpurple font-weight-bold" *ngIf = "recvrefer && recvrefer.referraltype == 'post' && (recvrefer.postcompanyname === null || recvrefer.postcompanyname === 'null')">{{recvrefer.posttype}}</span>
                            </div>
                            <div>
                              <div class="d-flex align-items-center">
                                <p class="text-right fs12 text-grey23 mb-0 mr-3">{{convertutctolocal(recvrefer.referralsendon) | amLocale:'en' | amDateFormat:'MMM D, YYYY  h:mm A' }}</p>
                                <button type="button" class="btn btn-blue-borderbtn btn-rounded text-blue posthover py-2" *ngIf = "recvrefer && recvrefer.referraltype == 'post'">
                                  <img src="./assets/images/viewposticon.svg" class="viewpostimg pr-2" alt="view-post-images">
                                  <span class="fs12 posthover" (click)="viewpost(recvrefer.postid)">View Post</span>
                                </button>
                                <button type="button" class="btn btn-blue-borderbtn btn-rounded text-blue posthover py-2" *ngIf = "recvrefer && recvrefer.referraltype == 'profile'">
                                  <img src="./assets/images/viewprofileicon.svg" class="viewpostimg pr-2" alt="view-post-images">
                                  <span class="fs12 posthover" (click)="viewprofile(recvrefer.profileid)">View Profile</span>
                                </button>
                              </div>
                            </div>
                          </div>  
                        </div>                
                        <div class="desc-section">                           
                          <p class="fs14 text-left font-weight-bold atagtext-blue mb-0" *ngIf = "recvrefer && recvrefer.referraltype == 'post'">Post Title - {{recvrefer.postname}}</p>
                          <p class="text-left fs14 text-black2 break-view mb-0" *ngIf = "recvrefer && recvrefer.message">{{recvrefer.message}}</p>
                          <div class="text-right">
                            <a class="fs12 font-weight-bold atagtext-blue"  href="javascript:void(0)" *ngIf="recvrefer.viewmore==true" (click)="viewmorepage(recvrefer)"> View More</a>
                            <a class="fs12 font-weight-bold atagtext-blue"  href="javascript:void(0)" *ngIf="recvrefer.viewmore==false" (click)="viewmorepage(recvrefer)"> View Less</a>
                          </div>
                          <ul class="chips-list  list-unstyled w-100 float-left" *ngIf="recvrefer.viewmore==false" >
                            <li *ngFor="let files of recvrefer.referralfiles " class="float-left w-25"
                              [ngClass]="{'upload-red2': files.fileext == 'pdf',  
                              'upload-yellow': (files.fileext == 'xl' || files.fileext == 'xls' || files.fileext == 'xlsx'),
                              'bg-blue8': (files.fileext == 'rtf' || files.fileext == 'docx')}">
                              <div class="file-badge bg-badge-color">{{files.fileext}}</div>
                              <ng-container>
                                <div class="pl-4"><a  href="javascript:void(0)" (click)="download(this.cloudeURL, files.url)">{{files.url}}</a></div>
                              </ng-container>
                            </li>
                          </ul>
                        </div>
                      </li>
                   
                    </ul>
                   
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center mt-3">
                <pagination-controls (pageChange)="recvreferralchange($event)" directionLinks="true" autoHide="true"
                responsive="true"  previousLabel="" nextLabel="">
              </pagination-controls>
            </div>
            </div>
           
      </div>
      <div class="col-md-3">
        <div class="card custom-user-card curved-last-cards border-0">
          <div class="card-header">
            <h3 class="fs14 mb-0 text-center text-black2 font-weight-bold">Latest Business News</h3>
          </div>
          <div class="card-body p-1">
            <iframe id="serviceFrameSend" src="./assets/html/newswidgets.html" frameborder="0" height="530" width="100%"></iframe>

          </div>
        </div>
      </div>
    </div>
   
  </section>
  <!-- <app-auth-footer></app-auth-footer> -->
</div>