<form name="form" #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && userLogin()"   novalidation>
    <ul class="navbar-nav form-list mr-5">       
        <li class="nav-item position-relative">
          <div class="input-group">
            <input type="email" name="username" #username="ngModel" [(ngModel)]="loginData.username" class="form-control desktop-design-change border-0" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            [ngClass]="{'is-invalid': loginForm.submitted && (username.errors?.pattern || username.errors?.required)}" [placeholder]="langData.common.emailAddress" required />
            <!-- error Popup -->
            <div class="error-card" [ngClass]="{ 'show-error': loginForm.submitted && username.errors}">
              <small *ngIf="username.errors?.pattern">{{langData.common.pleaseEnterValidEmailAddress}}</small>
              <small *ngIf="username.errors?.required">{{langData.common.pleaseEnterEmailAddress}}</small>
            </div>
             <!-- error Popup -->
            <div class="input-group-append bg-white">
                <span class="input-group-text border-0 bg-white"><em class="far fa-envelope text-black2 op-35"></em></span>
            </div>
          </div>            
        </li>
        <li class="nav-item position-relative">

            <div class="input-group"  [ngClass]="{'is-invalid': loginForm.submitted  &&  password.errors?.required}" >
                <input 
                [type]="input_type_login" 
                name="password"  
                class="form-control desktop-design-change border-0"
                [placeholder]="langData.common.password"
                #password="ngModel" 
                [(ngModel)]="loginData.password" 
                [ngClass]="{'is-invalid': loginForm.submitted  &&  password.errors?.required}" 
                 required> 
              <div class="input-group-append">
                  <span class="input-group-text border-0 bg-white c-pointer" (click)="passwordToggle()"><img [src]="passEyelogin" alt="eye"></span>
              </div>
            </div>
 
            
              <!-- error Popup -->
              <div class="error-card" [ngClass]="{ 'show-error': loginForm.submitted && password.errors}">
                <small *ngIf="password.errors?.required">{{langData.common.pleaseEnterPassword}}</small>
              </div>
               <!-- error Popup -->
        </li>
        <li class="nav-item position-relative mobile-view text-right">
            <a (click)="forgotPassword()" class="text-white" href="javascript:void(0)">
              {{langData.loginPage.forgotPassword}}
            </a>
          </li>
        <li class="nav-item position-relative">
            <button  type="submit" class="btn btn-blue px-3 pt-6 pb-6 fs14 ff-muli-bold br-2">
              {{langData.common.signIn}}
            </button>
        </li>
        <li class="nav-item position-relative desktop-view">
          <a  (click)="forgotPassword()" class="text-white fs14 ff-muli-bold ml-2" href="javascript:void(0)">
            {{langData.loginPage.forgotPassword}}
          </a>
        </li>
    </ul>
  </form>


<!-- Email Verification Modal -->


<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static' }" (onHidden)="onHidden()" bsModal #emailverification="bs-modal"
     class="modal fade" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-custom">
    <div class="modal-content">
      
      <div class="modal-header bg-grey12 border-0">
        <h1 class="modal-title fs20 font-weight-bold mx-auto">{{langData.loginPage.emailVerification}}</h1>
        <button type="button" class="close position-absolute rt-32px op-1" aria-label="Close" (click)="isModalShown = false">
          <span class="lnr lnr-cross font-weight-bold text-grey11 fs16"></span>
        </button>
      </div>
      <div class="modal-body text-center px-4">
          
        <img src="./assets/images/email-verify-img.svg" alt="Email Icon">

         <p class="text-black2 my-3">{{langData.loginPage.emailVerificationDescription}}</p>
    
         <button type="button" class="btn btn-blue btn-rounded px-30 py-1 h-42px w-105px" (click)="isModalShown = false">
          <span class="fs14">{{langData.common.submit}}</span>
          </button>
    
      </div>
    </div>
  </div>
</div>

<!-- Email Verification Modal -->