<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
<div class="bg-grey5 pt-5">
  <!-- Body Content -->

  <section class="container minheight my-5 max-w-lg-1070px">
     
    <div class="row">
        <div class="col-md-3">
            <div class="card profile-card text-center mb-3  border-0">
              <div class="card-header">
    
                <!-- Default Image -->
                <img src="./assets/images/default-user.jpg"  class="rounded-circle profile-img" alt="businessin-profile-image">
    
              </div>
              <div class="card-body pt-5 pb-4">
                <h1 class="fs18 font-weight-bold mt-3 mb-0 text-black2">Joe Walter</h1>
                <p class="fs16 text-black2 mb-2">Distributor</p>
                <p class="fs14 text-black2">
                    <img src="./assets/images/locationicon.svg"  alt="location-icon" class="pr-2">
                  Beaverton, OR, USA</p>
                  <p class="fs16  font-weight-bold atagtext-blue mb-0"><u>www.nikecompany.com</u></p>
                  <button type="button" class="btn btn-blue btn-rounded  py-2 pr-4 mt-2 font-weight-bold ">
                    <em class="fa fa-envelope " aria-hidden="true"></em>
                    <span class="fs14 pl-3">Message</span>
                </button>
              </div>
             
            </div>
        </div>
      <div class="col-md-6">
          <div class="viewreferrals card position-relative mb-4 ">
              <div class="card-body py-lg-4 px-lg-3">
               <div class="text-center">
                  <img src="./assets/images/nopost.svg" alt="no-post">
                  <p class="fs10 text-darkpurple font-weight-bold">No Post available</p>
               </div>
                   
              </div>
            </div>
           
      </div>
      <div class="col-md-3">
        <div class="card custom-user-card curved-last-cards border-0">
          <div class="card-header">
            <h3 class="fs14 mb-0 text-center text-black2 font-weight-bold">Latest Business News</h3>
          </div>
          <div class="card-body p-1">
            <iframe id="serviceFrameSend" src="./assets/html/newswidgets.html" frameborder="0" height="530" width="100%"></iframe>

          </div>
        </div>
      </div>

    </div>




  </section>



  <!-- Body Content -->


  <!-- footer Section -->
  <!-- <app-auth-footer></app-auth-footer> -->
  <!-- footer Section -->

</div>


