// primary colors 
$blue: #4291E2; 
$white :#fff;
$grey:grey;
$lightpurple:#9997B1;
$transparent : transparent;
$black:black;
$navy:#3B579D;
$darkpurple:#0F243A;
$red: #DD5348;
$red2: #F03813;
$maroon: #c8232c;
$green: #91E242;
$yellow: #F09F13;
$green: #13F04E;
$green2:#1DEF16;
$lightgrey:#F9F9F9;
$darkgrey:#515151;
$darkblack:#222222;
$lightblack:#3B3D3C;
$greylight:#DEDEDE;
$blacklight:#3A3A3A;

// secondary colors
$blue2: #3272b3;
$blue3:#DFE7EE;
$blue4:#E8EEF3;
$blue5:#6FAEDC;
$blue6: #1F74CB;
$blue7: #F5F7FF;
$blue8: #139FF0;
$skyblue:#C7D1D8;

$grey2:#E0DEDE;
$grey3:#AAB6C1;
$grey4:#D1D1D1;
$grey5:#F0F0F1;
$grey6:#FDFDFD;
$grey7:#C1CEDC;
$grey8: #E0E8F1;
$grey9: #F9FAFB;
$grey10: #A5A5A5;
$grey11:#CECECE;
$grey12:#FCFCFC;
$grey13:#ABA2A5;
$grey14:#A1A1A1;
$grey15:#9F9D9D;
$grey16:#C9CACC;
$grey17:#C5C7C9;
$grey18:#9CA4AC;
$grey19:#FAF9FF;
$grey20:#B9C9D9;
$grey21:#879BAE;
$grey22:#FBFBFB;
$grey23: #9B9B9B;
$grey24:#F8F8F8;
$grey25:#707070;
$grey26:#A4A5A7;
$grey27:#BEC2C3;

$light-grey:#D2D2D2;
$black2:#353639;
$navy2:#0077B5;
$navy3:#73A3D4;
$navy4:#7592AF;
$navy5:#3f729b;
$shadegray:#BEBEBE;
$orange:#F05713;
$light-green:#6bdba9;
$light-black:#1F1E24;
$blackarrow:#000000;
